.app-container {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form input, .form button {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-bar input {
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.password-item {
  background-color: #f8fafc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-item p {
  margin: 0;
  font-size: 16px;
}

.password-item button {
  background-color: #b91c1c;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.show-passwords {
  margin-bottom: 20px;
}
